@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

*:not(head > *) {
  all: unset;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto Mono', sans-serif;
}

#app {
  display: flex;
}